* {
    font-family: 'Fraunces', serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #c8c8c8;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

#__nuxt {
    width: 100%;
    max-width: 600px;
}

p {
    margin-bottom: 18px;
}